.arrowswipe {
    position: absolute;
    z-index: 500;
    top: 75vh;
    left: 94vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.iconarrow {
    margin-top: 2vh;
    transform: scale(1.8);
    color: white;
}

.arrowtitle {
    color: white;
}